___
# Ciência dos Dados - PROJETO 3 - INSPER

___
## Leonardo Bhering 

## Gustavo Molina

___

## INTRODUÇÃO

Este projeto tem como objetivo prever qual o valor de mercado de um jogador de futebol com base em algumas variaveis, como sua idade e seus números da temporada.

___
## MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

[Detalhe aqui as características da base de dados além da análise descritiva.]

In [29]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
from sklearn.model_selection import train_test_split

In [30]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Leonardo\Documents\INSPER\CiDadosDP\Projetos\Projeto 3

### BASE DE DADOS

In [31]:
dados = pd.read_excel('jogadores.xlsx')

In [32]:
dados.dtypes

Rank                                       int64
Jogador                                   object
Posição                                   object
Idade                                      int64
Valor de Mercado (em milhões de euros)     int64
Jogos                                      int64
Gols                                       int64
Assistencias                               int64
dtype: object

In [33]:
print('Base de dados com a qual trabalharemos:')
dados.head(15)

Base de dados com a qual trabalharemos:

,Rank,Jogador,Posição,Idade,Valor de Mercado (em milhões de euros),Jogos,Gols,Assistencias
0,1,Neymar,Extremo Esquerdo,26,180,32,29,19
1,2,Lionel Messi,Extremo Direito,30,180,55,45,18
2,3,Kylian Mbappé,Extremo Direito,19,120,50,23,19
3,4,Harry Kane,Ponta de Lança,24,120,48,41,5
4,5,Cristiano Ronaldo,Ponta de Lança,33,120,45,46,8
5,6,Kevin De Bruyne,Médio Ofensivo,26,110,55,13,23
6,7,Paulo Dybala,Segundo Avançado,24,100,48,26,7
7,8,Antoine Griezmann,Ponta de Lança,27,100,53,30,15
8,9,Philippe Coutinho,Extremo Esquerdo,25,100,45,23,14
9,10,Eden Hazard,Extremo Esquerdo,27,100,54,18,14
10,11,Paul Pogba,Médio Central,25,90,39,7,13
11,12,Robert Lewandowski,Ponta de Lança,29,90,50,42,5
12,13,Romelu Lukaku,Ponta de Lança,25,85,54,32,10
13,14,Luis Suárez,Ponta de Lança,31,85,53,32,18
14,15,Ousmane Dembélé,Extremo Direito,21,80,26,4,9

In [34]:
dados_filtro = dados.iloc[0:,[2,3,4,5,6,7]]
dados_filtro.columns = ['posição','idade','valor','jogos','gols','assistencias']
dados_filtro.head()

            posição  idade  valor  jogos  gols  assistencias
0  Extremo Esquerdo     26    180     32    29            19
1   Extremo Direito     30    180     55    45            18
2   Extremo Direito     19    120     50    23            19
3    Ponta de Lança     24    120     48    41             5
4    Ponta de Lança     33    120     45    46             8

### ANÁLISE DESCRITIVA

In [35]:
#Dividindo a base de dados em 75% para treinamento e 25% para teste
treinamento, teste = train_test_split(dados_filtro, test_size=0.1)

In [39]:
teste.head()

              posição  idade  valor  jogos  gols  assistencias
124    Defesa Central     23     35     42     2             2
13     Ponta de Lança     31     85     53    32            18
107   Médio Defensivo     26     40     42     4             4
66     Médio Ofensivo     24     50     41    23             7
75   Lateral Esquerdo     25     50     37     3             6

In [40]:
treinamento.head()

             posição  idade  valor  jogos  gols  assistencias
189  Médio Defensivo     22     25     40     4             1
170    Médio Central     31     30     52     4             3
69   Extremo Direito     27     50     45    13            16
143    Médio Central     25     32     38     4             7
128   Defesa Central     22     35     44     2             2

___
## MODELOS DE PREDIÇÃO

[O tópico C.PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO estará dentro deste tópico. Organize-o aqui de forma clara!]

[ORGANIZE AQUI TODOS OS MODELOS DE PREDIÇÃO NECESSÁRIOS NESTE PROJETO!]

o MODELO DE PREDIÇÃO PELA MÉDIA

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

In [41]:
#Modelo de Predição pela média
#Achando a média dos valores de mercado de cada jogador
media=treinamento['valor'].mean()
print(media)

49.333333333333336

In [58]:
#Aplicando o R^2
valor = (teste['valor'] - media)**2
r2 = 1 - (valor.sum()/valor.sum())
r2

0.0

In [61]:
#Aplicando o RMS
rms = (valor.sum()/20)**0.5
rms

14.958646700524453

___
## CONCLUSÃO

___
## REFERÊNCIAS BIBLIOGRÁFICAS