___
# Ciência dos Dados - PROJETO 3 - INSPER

___
## Leonardo Bhering 

## Gustavo Molina

___

## INTRODUÇÃO

Este projeto tem como objetivo prever qual o valor de mercado de um jogador de futebol com base em algumas variaveis, como sua idade e seus números da temporada.

___
## MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

[Detalhe aqui as características da base de dados além da análise descritiva.]

In [42]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
from sklearn.model_selection import train_test_split

In [43]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Leonardo\Documents\INSPER\CiDadosDP\Projetos\Projeto 3

### BASE DE DADOS

In [44]:
dados = pd.read_excel('jogadores.xlsx')

In [45]:
dados.dtypes

Rank                                       int64
Jogador                                   object
Posição                                   object
Idade                                      int64
Valor de Mercado (em milhões de euros)     int64
Jogos                                      int64
Gols                                       int64
Assistencias                               int64
dtype: object

In [46]:
print('Base de dados com a qual trabalharemos:')
dados.head()

Base de dados com a qual trabalharemos:

,Rank,Jogador,Posição,Idade,Valor de Mercado (em milhões de euros),Jogos,Gols,Assistencias
0,1,Neymar,Extremo Esquerdo,26,180,32,29,19
1,2,Lionel Messi,Extremo Direito,30,180,55,45,18
2,3,Kylian Mbappé,Extremo Direito,19,120,50,23,19
3,4,Harry Kane,Ponta de Lança,24,120,48,41,5
4,5,Cristiano Ronaldo,Ponta de Lança,33,120,45,46,8

In [47]:
dados.columns = ['Rank','Jogador','posição','idade','valor','jogos','gols','assistencias']

In [48]:
dados_filtro = dados.iloc[0:,[2,3,4,5,6,7]]
dados_filtro.head()

            posição  idade  valor  jogos  gols  assistencias
0  Extremo Esquerdo     26    180     32    29            19
1   Extremo Direito     30    180     55    45            18
2   Extremo Direito     19    120     50    23            19
3    Ponta de Lança     24    120     48    41             5
4    Ponta de Lança     33    120     45    46             8

### ANÁLISE DESCRITIVA

In [49]:
#Dividindo a base de dados em 90% para treinamento e 10% para teste
treinamento, teste = train_test_split(dados_filtro, test_size=0.1)

In [50]:
teste.head()

             posição  idade  valor  jogos  gols  assistencias
5     Médio Ofensivo     26    110     55    13            23
66    Médio Ofensivo     24     50     41    23             7
124   Defesa Central     23     35     42     2             2
18   Médio Defensivo     29     80     52     1             5
96   Extremo Direito     24     40     32     5             7

In [51]:
treinamento.head()

              posição  idade  valor  jogos  gols  assistencias
63   Segundo Avançado     28     55     46    16            18
11     Ponta de Lança     29     90     50    42             5
108    Defesa Central     25     40     48     3             2
153   Lateral Direito     24     30     37     0             2
16    Extremo Direito     25     80     53    45            16

___
## MODELOS DE PREDIÇÃO

[O tópico C.PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO estará dentro deste tópico. Organize-o aqui de forma clara!]

[ORGANIZE AQUI TODOS OS MODELOS DE PREDIÇÃO NECESSÁRIOS NESTE PROJETO!]

o MODELO DE PREDIÇÃO PELA MÉDIA

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

Modelo de Predição pela Média:

In [52]:
#Modelo de Predição pela média
#Achando a média dos valores de mercado de cada jogador
media=treinamento['valor'].mean()
print(media)

49.21666666666667

In [53]:
#Aplicando o R^2
valor = (teste['valor'] - media)**2
r2 = 1 - (valor.sum()/valor.sum())
r2

0.0

In [54]:
#Aplicando o RMS
rms = (valor.sum()/20)**0.5
rms

22.268070065554504

Modelo de Regressão Linear:

In [55]:
#Separar em variáveis independentes e a variável dependente
X = dados_filtro.iloc[0:,[0,1,3,4,5]].values #Variáveis independentes
y = dados_filtro.iloc[0:,2].values #Variável dependente (Valor do jogador)

In [56]:
#Codificação da variável posição (de string para float)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,3])
onehotencoder = OneHotEncoder(categorical_features = [3])
X = onehotencoder.fit_transform(X).toarray()

In [63]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.1, random_state = 0)

In [64]:
#Aplicando a Regressão Linear Multipla noa base trenamento
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [70]:
#Prevendo os resultados dos dados teste
y_pred = regressor.predict(X_teste)

___
## CONCLUSÃO

___
## REFERÊNCIAS BIBLIOGRÁFICAS