___
# Ciência dos Dados - PROJETO 3 - INSPER

___
## Leonardo Bhering 

## Gustavo Molina

___

## INTRODUÇÃO

Este projeto tem como objetivo prever qual o valor de mercado de um jogador de futebol com base em algumas variaveis, como sua idade e seus números da temporada.

___
## MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

[Detalhe aqui as características da base de dados além da análise descritiva.]

In [24]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from numpy import arange
from sklearn.model_selection import train_test_split

In [25]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Leonardo\Documents\INSPER\CiDadosDP\Projetos\Projeto 3

### BASE DE DADOS

In [26]:
dados = pd.read_excel('jogadores.xlsx')

In [27]:
dados.dtypes

Rank                                       int64
Jogador                                   object
Posição                                   object
Idade                                      int64
Valor de Mercado (em milhões de euros)     int64
Jogos                                      int64
Gols                                       int64
Assistencias                               int64
dtype: object

In [28]:
print('Base de dados com a qual trabalharemos:')
dados.head()

Base de dados com a qual trabalharemos:

,Rank,Jogador,Posição,Idade,Valor de Mercado (em milhões de euros),Jogos,Gols,Assistencias
0,1,Neymar,Extremo Esquerdo,26,180,32,29,19
1,2,Lionel Messi,Extremo Direito,30,180,55,45,18
2,3,Kylian Mbappé,Extremo Direito,19,120,50,23,19
3,4,Harry Kane,Ponta de Lança,24,120,48,41,5
4,5,Cristiano Ronaldo,Ponta de Lança,33,120,45,46,8

In [29]:
dados.columns = ['Rank','Jogador','posição','idade','valor','jogos','gols','assistencias']

In [30]:
dados_filtro = dados.iloc[0:,[2,3,4,5,6,7]]
dados_filtro.head()

            posição  idade  valor  jogos  gols  assistencias
0  Extremo Esquerdo     26    180     32    29            19
1   Extremo Direito     30    180     55    45            18
2   Extremo Direito     19    120     50    23            19
3    Ponta de Lança     24    120     48    41             5
4    Ponta de Lança     33    120     45    46             8

### ANÁLISE DESCRITIVA

In [31]:
#Dividindo a base de dados em 90% para treinamento e 10% para teste
treinamento, teste = train_test_split(dados_filtro, test_size=0.1)

In [32]:
teste.head()

             posição  idade  valor  jogos  gols  assistencias
32  Extremo Esquerdo     29     70     42    11            10
37  Extremo Esquerdo     22     65     48    11            10
33   Extremo Direito     28     70     40    22             9
86    Ponta de Lança     28     45     51    41            11
31    Médio Ofensivo     26     70     51    17            13

In [33]:
treinamento.head()

              posição  idade  valor  jogos  gols  assistencias
2     Extremo Direito     19    120     50    23            19
101    Ponta de Lança     24     40     41    22             3
46    Lateral Direito     26     60     42     0             7
129  Lateral Esquerdo     27     35     47     8             4
65   Extremo Esquerdo     21     50     34     7             8

___
## MODELOS DE PREDIÇÃO

[O tópico C.PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO estará dentro deste tópico. Organize-o aqui de forma clara!]

[ORGANIZE AQUI TODOS OS MODELOS DE PREDIÇÃO NECESSÁRIOS NESTE PROJETO!]

o MODELO DE PREDIÇÃO PELA MÉDIA

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

Modelo de Predição pela Média:

In [34]:
#Modelo de Predição pela média
#Achando a média dos valores de mercado de cada jogador
media=treinamento['valor'].mean()
print(media)

47.916666666666664

In [35]:
#Aplicando o R^2
valor = (teste['valor'] - media)**2
r2 = 1 - (valor.sum()/valor.sum())
r2

0.0

In [36]:
#Aplicando o RMS
rms = (valor.sum()/20)**0.5
rms

27.684356794245936

Modelo de Regressão Linear:

In [37]:
#Separar em variáveis independentes e a variável dependente
X = dados_filtro.iloc[0:,[0,1,3,4,5]].values #Variáveis independentes
y = dados_filtro.iloc[0:,2].values #Variável dependente (Valor do jogador)

In [38]:
#Codificação da variável posição (de string para float)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
onehotencoder = OneHotEncoder(categorical_features = [0])
X = onehotencoder.fit_transform(X).toarray()

In [39]:
X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size=0.1, random_state = 0)

In [40]:
#Aplicando a Regressão Linear Multipla noa base trenamento
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_treino, y_treino)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
#Prevendo os resultados dos dados teste
y_pred = regressor.predict(X_teste)

In [42]:
y_pred

array([ 35.39064121,  35.4795506 ,  41.19645369,  44.30060816,
        42.75525974,  57.79411329,  63.17478808,  50.74069459,
        75.03398028,  52.3280977 ,  64.38758883,  39.91506359,
        49.12267669,  37.16136378,  44.01769797,  78.48187553,
        63.56390178,  43.7460045 ,  52.80041937,  45.06860621])

___
## CONCLUSÃO

___
## REFERÊNCIAS BIBLIOGRÁFICAS